.gridcontainer {
    display: grid; 
    grid-template-columns: 13.3vw 13.3vw 13.3vw; 
    grid-template-rows: 20vh 20vh 20vh; 
    gap: 0px 0px; 
    grid-template-areas: 
      "block1 block2 block3"
      "block4 block5 block6"
      "block7 block8 block9"; 
    border: 1px black solid;
  }
.block1
{
    grid-area:block1;
    max-width: 13.3vw;
    max-height: 20vh;
    border: 1px black solid;

}

.block2
{
    grid-area:block2;
    max-width: 13.3vw;
    max-height: 20vh;
    border: 1px black solid;

}
.block3
{
    grid-area:block3;
    max-width: 13.3vw;
    max-height: 20vh;
    border: 1px black solid;

}
.block4
{
    grid-area:block4;
    max-width: 13.3vw;
    max-height: 20vh;
    border: 1px black solid;

}
.block5
{
    grid-area:block5;
    max-width: 13.3vw;
    max-height: 20vh;
    border: 1px black solid;

}
.block6
{
    grid-area:block6;
    max-width: 13.3vw;
    max-height: 20vh;
    border: 1px black solid;

}
.block7
{
    grid-area:block7;
    max-width: 13.3vw;
    max-height: 20vh;
    border: 1px black solid;

}
.block8
{
    grid-area:block8;
    max-width: 13.3vw;
    max-height: 20vh;
    border: 1px black solid;

}
.block9
{
    grid-area:block9;
    max-width: 13.3vw;
    max-height: 20vh;
    border: 1px black solid;

}
.min-80
{
    min-width: 40vw;
    max-width: 40vw;
    min-height: 100vh;
    max-height: 100vh;
}
.min20
{
    min-width: 40vw;
    max-width: 40vw;
    min-height: 10vh;
    max-height: 10vh;
    
}

.maingrid{
    display: grid; 
  grid-template-columns: 40vw; 
  grid-template-rows: 15vh 7vh 60vh 8vh;
  gap: 2em 5em; 
  grid-template-areas: 
    "gamename"
    "player"
    "game "
    "reset";  
  }
